include LICENSE.md
include CHANGELOG.md
include README.md
include SOURCE_CODE_MANIFEST.json
include START_NPG_CHAMBER.bat
recursive-include npg_chamber/phase_scripts *.py
recursive-include npg_chamber/script_explanations *.pdf
recursive-include diagnostic_tools *.py
recursive-include developer_tests *.py
recursive-include maintenance_tools *.py
