include LICENSE.md
include CHANGELOG.md
include CITATION.cff
include README.md
include SECURITY.md
include SOURCE_CODE_MANIFEST.json
recursive-include docs *.md
recursive-include npg_chamber/legacy_scripts *.py
recursive-include original_scripts_backup *.py
recursive-include diagnostic_tools *.py
recursive-include developer_tests *.py
recursive-include maintenance_tools *.py

include START_NPG_CHAMBER.bat

recursive-include npg_chamber/script_explanations *.pdf
